body{
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul li{
    list-style-type: none;
    border: 2px solid salmon;
    border-radius: 5px;
    margin-left: 5px;
    display: inline;/* satır içi öge oluşturur */
}
ul li :first-child, li:last-child{ /* ul nin içindeki li listesinin ilk eleman*/ 
 color: darkgreen;
 background-color: brown;
 padding: 5px;
}
ul li :nth-child(3){
    background-color: crimson;
}
ul li:nth-child(odd){ /*odd veya (2n+1)tek */
 background-color: yellow;
}
ul li:nth-child(even){ /* even veya (2n)çift */
 background-color: red;
}
ul li a{
    text-decoration: none;
}
ul li a:hover{ /*üzerine geldiğinde */
 background-color: aqua;
 color: beige;
 padding: 0;
}
p::first-line{ /*ilk satır değişikliği,sınıf özelliği */
 font-style: italic;
 color: burlywood;
}
p::first-letter{ /*sınıf özelliği olduğundan çift ::ile gösterilir */
 font-weight: bold;
 color: blueviolet;
}