.container{
    display: inline-grid;
    background-color: #62b6b7;
    padding: 3px;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 100px 100px ;
}
.container .box {
border: 1px solid black;
background-color: #c0eee4;
}
.one{
   /* grid-row-start: 1;
    grid-row-end: 4;
    grid-row: 1/4;*/
    grid-column: 1/3;
}