
body {
color: #545454; 
font-family: arial,helvetica;  
background-color: #eee;
}
#ilkparagraf {
    color: red;
}
.koyu {
    color: #000;
}
.acik {
    color: white
}
.kutu {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    line-height: 15px;
}
.kutu ul il span {
    font-size: bold;
}